
.header,.header-last-box{
  width:100%;
  background:#3388FF;
  position:fixed;
  left:0;
  top:0;
  z-index:110
}
.header-content,.header-last-box .header-content{
  width:1000px;
  margin:0 auto;
  height:70px;
  line-height:70px;
  overflow:hidden;
}
.content{
  background:white;
  background-size:contain;
}
